body{
  font-family: Arial;
  background:#f4f4f4;
  margin:0;
}

.container{
  width:80%;
  margin:auto;
}

.card{
  background:white;
  padding:15px;
  margin:10px;
  border-radius:10px;
}

input, button{
  padding:10px;
  margin:5px;
}

button{
  background:green;
  color:white;
  border:none;
  cursor:pointer;
}

.child{
  background:white;
  margin:10px;
  padding:10px;
  border-radius:10px;
}

.login-box{
  width:300px;
  margin:100px auto;
  padding:20px;
  background:white;
  text-align:center;
}

.hidden{display:none;}